

* {

     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
     

}

body, html {

     min-height: 100vh;
     width: 100%;

     display: flex;
     justify-content: center;
     align-items:center;
     flex-direction: column;
 
   

}

p {
     font-size: small;
     font-family: var(--text);
     color:var(--white)

}

h3 {

     font-size: medium;
     font-family: var(--text);
     color:var(--white)
}

:root {

     /* colors */

     --green: #4ff040;
     --black: #00181C;
     --red: #D30202;
     --white: #FFFFFF;
     --grey-1: #566a7436;
     --grey-2: #90a9b1;
     --grey-3:rgb(49, 49, 49);
     --transparent:rgba(233, 227, 227, 0.075);
 
     /* fonts */

     --title-1: 'Amita',
          serif;
     --tittle: 'Secular One',
          sans-serif;
     --text: 'Inter',
          sans-serif;


}

.post {
     position:realative;
     z-index: 2;
     height: 180px;
     width: 250px; 
     display: flex;
     gap: 20px;
     flex-direction: column;
     justify-content:flex-start;
     padding: 30px;
     color: var(--white);
     font-family: var(--text);
     background: var(--transparent);
}

.discover {

     font-size: small;
     font-family: var(--text);
     color:var(--green);
     font-weight: 400;
}

.discover span {

     background: var(--green);
     color: var(--black);
     padding: 4px 6px;
     margin-right: 10px;
     border-radius:100%


}

.fondo {

     background-color:var(--grey-2);
     min-height: 100vh;
     width: 100%;
     position: absolute;
     z-index: -7;
     display: flex;
     flex-direction: column;
     /* align-items:center; */
     justify-content:flex-start;
     overflow: hidden;
}

.fondo > span {
      
          top:0;
          color: var(--grey-1);
          font-size: 600px;
          font-family: var(--text);
          font-weight: 700;
          height: 100%;
          
        
        
}

header {
     /* background-color: var(--black); */
     min-width: 90%;
     position: absolute;
     top : 3em;
     padding: 4em ;
     display: flex;
     align-items:center;
     justify-content: space-between;
     color:var(--white);
     font-family: var(--text);
     
    
}

nav {
     width: 60%;
     
} 

nav > ul {

     display: flex;
     justify-content:right;
  
    
}

.nav a { 
     color : var(--white);
     font-family: var(--text);
     font-weight: 600;
     padding-left: 30px;
} 

h1 {

     font-family: var(--title-1);
     font-weight: 100px;
     font-size: 25px;
}

header span {

     padding-right: 15px;
     font-size: 30px;
     filter: blur(100%);
 
}
main {
     position: relative;
     min-height: 100vh;
     margin-top: 4em;
     /* cambio a movil */
     max-width: 90%; 
     z-index: -4;
     background: rgb(65, 64, 61);
     background: linear-gradient(0deg, rgba(65, 64, 61, 1) 13%, rgba(15, 18, 18, 1) 71%);
     min-width: 90%;
     display: flex;
     justify-content: center;  
     
    
}



.title h2 {

     position: relative;
     top: 150px;
     padding: .1em;
     font-family: var(--tittle);
     /* cambio a movil */
     font-size:160px;
     background: radial-gradient(circle, rgba(246, 243, 245, 0) 40%, rgba(255, 255, 255, 1) 51%);
     color:transparent;
     background-clip: text; 
  
     -webkit-text-stroke: 3px var(--white);

     
}

.action {

     position: relative;
     z-index: 1;
     display: flex;
     flex-direction: column;
     align-items:flex-start;
     top:80px;
     left: 25px;
     color:var(--white);
     font-family: var(--text);
     width: 150px;
     padding-top: 20px;
     letter-spacing: 1px;
     
}

.action button  {

     margin-top: 25px;
     width: 100%;
     padding:15px;
    
     /* border-radius: 10px; */
     border: none;
     color: var(--black);
          font-family: var(--text);
          font-weight: 600;
          text-align: center;
          cursor: pointer;
     background:var(--green);
     cursor:pointer;
     
}

.action a {

     color: var(--black);
     font-weight: 600;
     font-family: var(--text);;
} 

.imagen {
     position:relative;
     z-index: -2;
     right: 55px;
    
   
}

.imagen-trasera {

     position:absolute;
     bottom: 0;
     z-index: -3;
     max-height: 55em;
     filter: blur(100%);
   
     
}

.sadow {
     position: absolute;
          bottom: 255px;
          right: 17em;
          z-index: -4;
          max-height: 55em;
          border-radius:20px;
          background:var(--grey-3);
          width: 300px;
          height: 477px;    
         
}

.light {

     position: absolute;
          bottom: 0;
          left:0;
          z-index: -4;
          width: 50%;
          height: 100%;
          
          background: rgb(174, 236, 174);
               background: linear-gradient(0deg, rgba(31, 194, 31, 0.24) 5%, rgba(15, 18, 18, 0) 56%);
}

          
  .sadow-2 {
       position: absolute;
       bottom: 316px;
       right: 7.5em;
       transform: rotate(44deg);
       z-index: -4;
       max-height: 55em;
       border-radius: 20px;
       background:var(--grey-3);
       width: 340px;
       height: 355px;     
     
  }
          
.imagen-frontal {

     position: absolute;
     bottom:0;
     max-height: 55em;
     

}

.articles {

     position: absolute;
     bottom: 0;
     min-width: 90%;
     display: flex;
     justify-content: space-between;
     
     
}

.right {

     border-top-left-radius: 60px;
}

.left {
      
     border-top-right-radius: 60px;

}

footer {
     background:var(--white);
     width: 90%;
     height: 150px;
     text-align: center;
      display: flex; 
      flex-direction: column;
      gap: 10px;
      align-items: center; 
     justify-content: center; 
}

footer > ul {   
     
          display: flex;
          justify-content: center;
          align-items:center;
          gap: 10px;
}

footer img {

     height: 50px;
     
}



