
body{

     background-color: blueviolet ;

     display: flex;
     align-items: center;
     justify-content: center;

}
.modal{

     background: rgb(245, 250, 178) ;
     height: 200px;
     width: 600px;
     padding: 20px;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
}

.modal .icon {

     
     width: 50px;
     height: 50px;
     border-radius: 100%;
     border: solid 1px gray;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-grow: 0;
}


.modal .close-button {
     
     
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border: solid 1px gray;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 0;

}

.modal .header{

     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-grow: 1;
}

.modal .continue {

     height: 40px;
     width: 150px;
}

.modal .cancel {

     height: 40px;
     width: 150px;
}