@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;


}

:root {
     --botones: #e0dddd;
     --blanco: white;
     --negro: #181818;
     --gris: #f7f2f2;
     --gris-oscuro: #918989;
     --gris-mas-oscuro: rgb(104, 103, 103);
     --gris-transparente: #80808067;
     --gris-claro: rgb(238, 238, 238);
     --pink: rgb(248, 201, 209);
     --gris-texto: #f2f3eb;
     --titulo: "Roboto",
          sans-serif;
     --texto: 'Open Sans', sans-serif;
     --texto-deco: "Figtree", sans-serif;
     --texto-deco-xs: "Varela Round",
          sans-serif;

}

::-webkit-scrollbar {
     background: var(--gris-transparente);
     width: 5px;
     height: 6px;
     border-radius: 10px
}


::-webkit-scrollbar-thumb {
     background: var(--blanco);
     border-radius: 10px;
     border: 1px solid var(--gris-transparente);
}

body {

     width: 100%;
     height: 100vh;

}


p {

     font-family: var(--texto);

}

li,
a {

     text-decoration: none;
     color: var(--negro);
}

i {

     font-size: 1.5rem;
     font-weight: lighter;
}


ul {

     list-style: none;
     gap: 15px;

}

.flex-container {

     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     align-content: center;
}

.grid-container {

     display: grid;
     align-items: center;
     justify-items: center;
     justify-content: center;
     align-content: center;
     text-align: center;
     gap: 18px;

}



/* header */

header {
     position: fixed;
     height: 156px;
     width: 100%;
     background-color: var(--pink);
     z-index: 10;

}

.header-superior {
     position: sticky;
     top: 30px;
     z-index: 11;
     background-color: var(--blanco);
     width: 100%;
     height: 70px;

}

.header-superior-element {
     max-width: 1220px;
     width: 95%;
     justify-content: space-between;

}

.menu-header-medium {
     cursor: pointer;
     display: none;
     left: 10px;
     top: 20px;
     max-width: 80px;
     gap: 4px;
}

.menu-header-medium>button {
     cursor: pointer;
     border: none;
     padding-left: 5px;
     background-color: var(--blanco);
}


/* barra de busquedas */

.container-search {

     background-color: var(--blanco);
     border: 1px solid var(--gris-transparente);
     width: 210px;
     height: 48px;
     font-size: .8em;
     font-weight: 400;
     margin-right: 20px;

}

.container-search>input {
     width: 70%;
     border: none;
     cursor: pointer;
     background-color: var(--blanco);

}

.container-search>button {
     width: 20%;
     border: none;
     cursor: pointer;
     background-color: var(--blanco);

}


.container-search input::placeholder {

     color: var(--gris-oscuro);
}

.header-inferior {
     position: absolute;
     bottom: 0;
     text-transform: uppercase;
     width: 100%;
     height: 51px;
     background-color: var(--blanco);
     border-bottom: solid 1px var(--gris-transparente);
     font-family: var(--texto);
     font-weight: 600;
     font-size: 12px;

}

.header-inferior i {
     font-size: .5rem;
     padding-left: 6px;
}

.header-inferior ul {
     justify-content: flex-start;
     width: 100%;
     max-width: 1220px;
     height: 100%;
     gap: 35px;
}

.header-inferior li {

     height: 100%;
     border-bottom: 3px solid var(--blanco);
}

.bi-chevron-up {

     display: none;
}

.header-inferior li:hover {

     border-bottom: 3px solid var(--pink);
}

.header-inferior li:hover .bi-chevron-up {

     display: inline-block;
}

.header-inferior li:hover .bi-chevron-down {

     display: none;
}

/* main */



/* imagen promocional  */

.promocion {
     padding-top: 150px;
     width: 100%;


}

.container-promo {
     overflow-x: hidden;
     justify-content: flex-start;
     width: 100%;
     max-width: 1220px;


}


.container-promo div {

     min-width: 100%;



}

.container-promo img {
     cursor: pointer;
     width: 100%;
     animation: move 20s ease-in-out infinite;
     animation-direction: alternate;
}


@keyframes move {

     0% {
          margin-left: 0;
     }

     20% {
          margin-left: 0;
     }

     35% {
          margin-left: -200%;
     }

     65% {
          margin-left: -200%;
     }

     80% {
          margin-left: 0;
     }

     100% {
          margin-left: 0;
     }


}

.alterna-920px {

     display: none;
}


/* scroll animation */

@keyframes jump {

     from {
          translate: 0 200px;

     }

     to {

          translate: 0
     }
}

@keyframes rejump {

     from {
          translate: 0 -110px;
     }

     to {

          translate: 0;
     }
}

/* 
@keyframes ups {

     from {

          height: 156px;
     }

     to {

          height: 0;
     }
} */




.option-products {
     width: 100%;
     gap: 10px;
     margin-bottom: 50px;
}



.enlaces-products {

     padding-top: 8rem;
     max-width: 1220px;
     gap: 10px;
     text-align: center;


}

.option-products img {

     box-sizing: content-box;
     max-height: 140px;
     max-width: 170px;
     padding: 40px 0;
     transition: .5s ease-in;



}

.option-products img:hover {

     scale: 1.2;
     transition: .5;
}

.option-products a:hover h3 {

     box-shadow: 1px 1px 8px var(--gris-transparente);
     border-radius: 50px;


}


.option-products h3 {
     max-width: 200px;
     font-size: 12px;
     font-weight: 400;
     font-family: var(--texto-deco);
     transition: .5s;

}


/*  imagen promocional */

.img-promo3 img {

     width: 100%;
     cursor: pointer;
     border: var(--pink) solid 5px;
}

.img-promo3 {

     width: 100%;
     max-width: 1220px;

}


/* enlaces linea de productos 2 */

.option-products-2 {
     text-align: left;
     padding: 100px 50px 50px 50px;
     width: 100%;

     gap: 50px;
     align-items: start;

}

.option-products-2 .title {
     font-family: var(--titulo);
     font-size: 35px;
     font-weight: 800;
     max-width: 220px;

     animation: jump linear both;
     animation-timeline: view();
     animation-range: entry 0 cover 30%;


}

.enlaces-line {
     position: relative;
     max-width: 980px;
     height: 100%;
     grid-auto-rows: 1fr;
     grid-template-columns: repeat(3, 1fr);




}

.enlaces-line a {
     position: relative;
     max-width: 400px;
     min-width: 200px;


     animation: jump linear both;
     animation-timeline: view();
     animation-range: entry 0 cover 30%;

}

.game-tronos-line,
.unicef,
.novedades-line,
.charms-line,
.joyas-line,
.Marvel-line {

     background-size: 200px;



}

.game-tronos-line {
     background-image: url(https://res.cloudinary.com/dn6utw1rl/image/upload/v1710356977/q124-b-pdp-model-styled-02-extended_dgnelz.webp);
     height: 260px;
     position: absolute;
     bottom: -30px;


}

.novedades-line {
     background-image: url(https://res.cloudinary.com/dn6utw1rl/image/upload/v1710357026/mundo-pandora_d97iye.webp);
     height: 200px;
}

.joyas-line {
     background-image: url(https://res.cloudinary.com/dn6utw1rl/image/upload/v1710356911/joyas2_kxptc5.webp);
     height: 200px;
}

.charms-line {
     background-image: url(https://res.cloudinary.com/dn6utw1rl/image/upload/v1710357021/2024-brand-product-02-extended-megaspotter_bwtmqz.webp);
     height: 260px;
     bottom: -30px;

}

.Marvel-line {
     background-image: url(https://res.cloudinary.com/dn6utw1rl/image/upload/v1710357030/q124-b-pdp-product-styled-01-rgb-extended_fynhnt.webp);
     height: 200px;
}

.unicef {
     background-image: url(https://res.cloudinary.com/dn6utw1rl/image/upload/v1710356913/videoframe_12269_ie7mxz.webp);
     height: 260px;
     bottom: 30px;

}

.enlaces-line .title-line {
     position: absolute;
     bottom: 10px;
     background-color: var(--blanco);
     width: 80%;
     height: 70px;
     margin-left: 10px;
     padding-top: 10px;

     animation: rejump ease-in-out both;
     animation-timeline: view();
     animation-range: entry 10% cover 35%;
   


}

.enlaces-line h3 {
     width: 80%;
     margin-left: 15px;
     font-family: var(--texto-deco-xs);
     color: var(--negro);
     border-bottom: 2px var(--negro) solid;
     padding-bottom: 10px;
     font-weight: 400;
     font-size: 13px;
}


/* enlaces de productos favoritos */
.option-products-favoritos {

     width: 100%;
     flex-direction: column;

}

.articles {
     width: 90%;
     max-width: 1250px;
     overflow-x: overlay;
     margin: 1em 2em;
     justify-content: flex-start;
     font-weight: 600;
     font-family: var(--texto);
     gap: .5em;
     padding-bottom: 20px;

}

.option-products-favoritos h2 {

     font-family: var(--titulo);
     font-size: 25px;
     font-weight: 600;
     padding: 50px 0 20px 0;


}

.option-products-favoritos img {

     width: 100%;
     transition: .3s ease-in;
}

.option-products-article a:hover img {

     scale: 1.05;
     box-shadow: 0px 0px 10px 0px rgb(218, 211, 212);
     border: solid 1px var(--pink);
     border-radius: 10px;

}

.option-products-article div {
     position: relative;
     height: 120px;

}

.oferta {

     color: var(--gris-oscuro);
     font-size: 10px;
     padding: 10px 0;
}

.precio {
     position: absolute;
     bottom: 0;
     font-size: 16px;
     font-weight: 600;
}

.add-article {

     width: 100%;
}

.add-article input {
     cursor: pointer;
     width: 100%;
     border: 1px solid var(--negro);
     padding: 10px;
     background-color: var(--blanco);
     font-family: var(--texto);
     font-size: 14px;
     transition: .5s;

}

.add-article input:hover {

     background-color: var(--negro);
     color: var(--blanco);
}

.option-products-article {

     flex: 0 0 auto;
     height: 100%;
     padding: .4em;
     max-width: 200px;
     font-size: 13px;
     text-align: start;

}

.option-products-article i {

     font-size: 1.2em;
     position: absolute;
     top: 15px;
     right: 17px;
}

.option-products-article a {
     position: relative;

}


.favoritos {

     flex-direction: column;
}

/* klarna */

.img-promo-klarna {
     width: 100%;
     margin: 50px 0;
     padding-top: 40px;
}

.img-promo-klarna img {
     aspect-ratio: 10/1.1;
     object-fit: cover;
     max-width: 1220px;
     width: 100%;
}

/* campaña pandora unicef */
.campaña-unicef {
     width: 100%;


}

.container-unicef {
     align-items: flex-start;
     justify-content: center;
     max-width: 1220px;
     width: 100%;
     padding: 40px 80px;
     gap: 50px;



}

.img-unicef {

     max-width: 700px;
     flex: 3;

     animation: jump linear both;
     animation-timeline: view();
     animation-range: entry 0 cover 30%;
}

.img-unicef img {

     width: 100%;
     object-fit: cover;
     aspect-ratio: 5/4;
}

.pandora-mini {

     width: 65px;

}

.pandora-mini img {

     width: 100%;
}

.encabezado-unicef {

     justify-content: left;
     gap: 5px;
     padding-bottom: 20px;
     font-size: 8px;
}

.texto-unicef {
     flex-direction: column;
     text-align: start;
     align-items: start;

     flex: 1;

     animation: jump linear both;
     animation-timeline: view();
     animation-range: entry 0 cover 40%;
}

.texto-unicef h2 {

     font-family: var(--titulo);
     font-size: 40px;
     font-weight: 800;
}

.texto-unicef p {

     font-family: var(--texto);
     font-size: 15px;
     font-weight: 500;
     padding-bottom: 30px;
}

.texto-unicef input {
     cursor: pointer;
     background-color: var(--negro);
     border: 0;
     color: var(--blanco);
     padding: 12px 35px;
     font-family: var(--texto);
     font-size: 12px;

}

/* discover */


.discover {
     width: 100%;
     min-height: fit-content;
     padding-top: 70px;


}

.container-discover {
     position: relative;
     max-width: 1220px;
     width: 100%;
     flex-direction: column;
     align-items: flex-start;

     padding: 70px 80px;

}

.discover h2 {
     position: absolute;
     top: 40px;

     font-family: var(--titulo);
     font-size: 65px;
     font-weight: 600;

     animation: jump linear both;
     animation-timeline: view();
     animation-range: entry 0 cover 30%;



}

.discover-pandora-logo {

     flex-direction: column;
     align-items: flex-start;
     max-width: 900px;
     min-width: 150px;

}

.discover-pandora-logo img {

     width: 100%;
     object-fit: cover;
     aspect-ratio: 10/2.5;

     animation: jump linear both;
     animation-timeline: view();
     animation-range: entry 0 cover 30%;


}

.discover-enlaces {
     position: relative;
     max-width: fit-content;
     width: 100%;
     gap: 15px;
     align-items: flex-start;
     padding-bottom: 50px;
}

.discover-enlaces a {
     position: relative;
     text-align: start;

     animation: jump linear both;
     animation-timeline: view();
     animation-range: entry 0 cover 30%;
}

.discover-enlaces h3 {

     font-family: var(--titulo);
     font-size: 18px;
     font-weight: 800;
     padding: 10px 0;
}

.discover-text {
     position: relative;
     min-height: 90px;
}

.discover-enlaces p {
     position: absolute;
     bottom: 0;
     width: fit-content;
     font-size: 12px;
     padding-bottom: 8px;
     border-bottom: 2px solid var(--negro);
}



.img-discover {

     max-width: 300px;
     min-width: 160px;
}

.img-discover img {
     width: 100%;
     object-fit: cover;
     aspect-ratio: 3/4;
}

/* condiciones */



.condiciones {
     position: relative;
     height: auto;

     flex-direction: column;
}

.condiciones .slaider {

     max-width: 1250px;
     width: 90%;
     flex-direction: column;

}

.condiciones .slaider .content {

     width: 100%;
     padding: 50px 0 40px 0;
     overflow-x: hidden;
     justify-content: flex-start;

}

.condiciones .slaider ul {

     gap: 5px;
}


.condiciones .slaider ul>li>a div {

     background-color: rgb(43, 42, 42);
     width: 280px;
     min-width: fit-content;
     color: var(--blanco);
     padding: 30px;
     height: 200px;
     flex-direction: column;
     gap: 10px;
     justify-content: flex-start;
     transition: 1s ease-in-out;

}

.condiciones i {

     font-size: 3rem;
}

.condiciones p {

     font-family: var(--texto);
     font-size: 11px;
     color: var(--gris-oscuro);
}

.condiciones h4 {

     font-family: var(--titulo);
     font-size: 21px;
     font-weight: 400;
}

.condiciones .slaider input {

     position: absolute;
     z-index: -1;
     display: none;
}

.condiciones .buttons {

     position: absolute;
     z-index: 1;
     width: fit-content;
     bottom: 0;
     gap: 15px;
}

.condiciones .buttons label {

     width: .5rem;
     height: .5rem;
     border-radius: 50%;
     background-color: var(--negro);
     opacity: 50%;
     cursor: pointer;
     transition: 1.3s ease-in-out;
}

.condiciones .buttons label:hover {

     opacity: 90%;
}

.slaider input:nth-child(1):checked~.buttons label:nth-child(1),
.slaider input:nth-child(2):checked~.buttons label:nth-child(2),
.slaider input:nth-child(3):checked~.buttons label:nth-child(3),
.slaider input:nth-child(4):checked~.buttons label:nth-child(4),
.slaider input:nth-child(5):checked~.buttons label:nth-child(5) {

     opacity: 1;
}

.slaider input:nth-child():checked~.content div {

     translate: 0 0;
}

.slaider input:nth-child(2):checked~.content div {

     translate: -280px 0;
}

.slaider input:nth-child(3):checked~.content div {

     translate: -560px 0;
}

.slaider input:nth-child(4):checked~.content div {

     translate: -840px 0;
}

.slaider input:nth-child(5):checked~.content div {

     translate: -1120px 0;
}


/* suscripcion footer */

footer {
     background-color: var(--gris);
     flex-direction: column;
     font-size: 13px;
     font-family: var(--texto);
}

.suscripcion {
     gap: 80px;
     padding: 4em 0;
     width: 80%;
     max-width: 1220px;
     border-bottom: 1px solid var(--gris-transparente);

}

.suscripcion .text-suscripcion {
     text-align: start;
}

.suscripcion h2 {

     font-family: var(--titulo);
     font-size: 19px;
     font-weight: 400;
     padding-bottom: 8px;

}




.suscribete button {
     cursor: pointer;
     color: var(--blanco);
     background-color: var(--gris-mas-oscuro);
     font-size: 13px;
     font-weight: 500;
     letter-spacing: .1em;
     padding: 10px 20px;
     border: solid 1px var(--gris-mas-oscuro);
     height: 45px;

}

.suscribete input {
     background-color: transparent;
     text-overflow: ellipsis;
     max-width: 200px;
     padding: 12px 20px;
     border: solid 1.5px var(--negro);
     border-right-color: transparent;
     height: 45px;

}

.suscripcion form input::placeholder {

     color: var(--gris-oscuro);
     font-weight: 400;

}

.menu-footer {

     padding: 4em 0;
     width: 80%;
     max-width: 1220px;
     border-bottom: 1px solid var(--gris-transparente);
}

.menu-footer>ul {

     gap: 40px;
     text-align: start;
}

.menu-footer h4 {
     cursor: pointer;
     letter-spacing: .1em;
     font-size: 14px;
     font-weight: 400;
     font-family: var(--titulo);
     padding-bottom: 16px;
}

.desplegable li {

     padding-bottom: 15px;
     font-size: 12px;
     font-weight: 500;

}

.desplegable a {

     color: var(--gris-mas-oscuro);

}

.menu-footer span {

     font-size: 21px;
     display: none;

}

.pie-footer {

     padding: 20px;
     gap: 50px
}

.rrss {

     gap: 15px;
     opacity: 80%;

}

.pasttri-logo{
  
     width: 30px;
}

.pasttri-logo img {

     width: 100%;
}

.making strong {

     opacity: 60%;
}







@media (min-width: 1025px) {


     /* header {

          animation: ups linear both;
          animation-timeline: scroll(root block);
          animation-range: 150vh 200vh;


     } */

     .discover h2 {
          top: -10px;
          font-size: 85px;
     }


     .condiciones .slaider ul {

          gap: 0;
     }

     .condiciones .slaider ul>li>a div {

          border: 1px solid var(--gris-transparente);

     }

     .condiciones .buttons label {

          display: none;
     }

     .slaider .content ul {

          animation: move-carrusel 20s ease-in-out infinite;
          animation-direction: alternate;
          animation-play-state: running;

          &:hover {

               animation-play-state: paused;
          }


     }


     @keyframes move-carrusel {

          0% {
               margin-left: 0;
          }

          20% {
               margin-left: 0;
          }

          35% {
               translate: -280px 0;
          }

          65% {
               translate: -280px 0;
          }

          80% {
               margin-left: 0;
          }

          100% {
               margin-left: 0;
          }


     }


}



@media (max-width: 1025px) {

     .menu-header-medium {
          display: flex;


     }

     .container-search {

          display: none;
     }

     .header-inferior {

          display: none;
     }

     header {

          height: 105px;

     }

     .header-superior {

          position: absolute;
          top: 0;
          height: 98px;
     }

     .none {

          display: none;
     }

     .logo {

          position: absolute;
          width: 60%;
          right: 20%;
     }

     .enlaces-products {

          flex-wrap: wrap;
     }

     .option-products a {
          max-width: 140px;

     }

     .option-products img {

          max-height: 250px;
          max-width: 140px;

     }

     .promocion {

          padding-top: 95px;

     }

     .option-products-2 {

          flex-direction: column;
          width: 100%;
          align-items: center;

     }

     .option-products-2 .title {

          max-width: 100%;

     }

     .enlaces-line {

          width: 90%;


     }

     .enlaces-line a {

          width: 100%;

     }

     .option-products-2 .title {


          font-size: 35px;

     }

     .game-tronos-line,
     .unicef,
     .charms-line,
     .novedades-line,
     .joyas-line,
     .Marvel-line {

          background-size: 100%;


     }

     .condiciones ul::-webkit-scrollbar,
     .condiciones ul::-webkit-scrollbar {
          display: none;

     }

     .suscripcion {
          gap: 80px;
          padding: 3em 0 2em 0;


     }

     .menu-footer .desplegable {

          display: none;
     }

     .menu-footer ul {

          flex-direction: column;
          gap: 1px;

     }

     .menu-footer li {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-bottom: 1px solid var(--gris-transparente);
          padding: 13px 0;
     }


     .menu-footer span {

          display: inline-block;

     }

     .menu-footer {

          padding: 0;
          border-bottom: none;
     }




}

@media (max-width: 1250px) {

     .header-superior-element {

          width: 80%;
          justify-content: space-between;

     }

     .header-inferior ul {

          padding-left: 15px;
     }


     .suscripcion,
     .menu-footer {

          width: 95%;
     }


}

@media (max-width: 920px) {

     .alternaMin920px {

          display: none;

     }

     .alterna-920px {

          display: inline-block;
     }

     .option-products a {
          max-width: 240px;

     }

     .option-products img {

          max-height: 350px;
          max-width: 240px;

     }

     .discover-enlaces {
          height: fit-content;
          display: grid;
          justify-content: center;
          align-content: center;
          justify-items: center;
          align-items: center;
          grid-auto-rows: 1fr;
          grid-template-columns: repeat(2, 1fr);


     }

     .discover-descubre {
          position: absolute;
          right: 0;
          top: 150px;
     }

     .discover-grava {

          grid-column: 1;

     }

     .discover-exitos {

          position: absolute;
          right: 0;
          bottom: -150px;


     }

     .condiciones {

          margin-top: 100px;
     }



}

@media (max-width: 760px) {

     .option-products a {
          max-width: 185px;

     }

     .option-products img {

          max-height: 180px;
          max-width: 185px;

     }

     .enlaces-line {

          grid-template-columns: repeat(2, 1fr);

     }

     .enlaces-line {

          width: 100%;


     }

     .enlaces-line a {

          width: 100%;


     }

     .option-products-2 .title {


          font-size: 35px;

     }

     .novedades-line {

          grid-column: 1/2;

     }

     .unicef {

          grid-column: 1/2;
          grid-row: 3/4;
     }

     .Marvel-line {

          grid-column: 2/3;
          grid-row: 1/2;

     }

     .charms-line {

          top: -30px
     }

     .joyas-line {

          top: -30px;
          height: 260px;
          background-image: url(/assets/joyas2.jpg)
     }



     .container-unicef {

          flex-direction: column;
          padding-left: 35px;
          padding-right: 35px;
     }

     .texto-unicef h2 {

          font-size: 22px;
     }

     .container-discover {

          padding: 70px 30px;

     }

     .discover h2 {


          font-size: 50px;

     }


     .suscripcion h2 {

          font-size: 17px;

     }

     .suscripcion .text-suscripcion {

          display: flex;
          flex-direction: column;
          width: 80%;

     }

     .menu-footer {

          width: 80%;
     }




     .suscribete button {

          font-size: 11px;
          padding: 8px 16px;
          height: 40px;
     }

     .suscribete input {

          width: 170px;
          padding: 8px 16px;
          height: 40px;

     }

     .suscripcion {

          flex-direction: column;
          gap: 15px;
          width: 80%;
          align-items: flex-start;
     }

     .pie-footer {
       
          flex-direction: column-reverse;
          gap: 15px;
          

     }

     .pie-footer i {

          font-size: 1rem;
          ;
     }

     .making div {
        
          width: 20px;

     }

     .making {
          
          border-top: 1px solid var(--gris-transparente);
          padding-top: 10px;
     }


}


@media (max-width: 450px) {

     .option-products a {
          max-width: 105px;

     }



     .option-products img {

          max-height: 100px;
          max-width: 105px;

     }

     .option-products-2 .title {

          font-size: 25px;
     }

     .option-products-favoritos h2 {


          padding-bottom: 15px;


     }

     .option-products-article {

          max-width: 160px;

     }

     .discover h2 {


          font-size: 35px;

     }

     .discover-enlaces,
     .option-products-2 {

          width: auto;

     }

     .discover-enlaces .discover-text {

          min-height: 120px;
     }

     .enlaces-line a {
      
          min-width: 160px;

     }


}